<% @title_text="Admin - Users"%>
<h1>Users <span class="teal">Profile</span></h1>
<div class="blueback">

<div class="box"><%= link_to "Sleep", :action => :sleep %><%= link_to "All Users", :action => :all_users %><%= link_to "User Login Up", :controller => :users, :action => :user_login_up %></div>
<h3>Users Activity</h3>
Last Logged in:
<table>
	<tr>
		<td style="width:10%"><strong>Total</strong></td>
	<% (1..7).each do |i|  %>
		<td style="width:10%" <% if i%2 == 1 %>class="zebra"<% end %>><%= "#{i-1} - #{i}" %> days ago</td>
	<% end %>
		<td style="width:10%">More than a week ago</td>
	</tr>
	<tr>
		<td style="width:10%"><strong><%= @size %></strong></td>
	<% (1..7).each do |i|  %>
		<td style="width:10%" <% if i%2 == 1 %>class="zebra"<% end %>><%= @last_login[i].to_s %> users</td>
	<% end %>
		<td style="width:10%"><%= @last_login[0].to_s %></td>
	</tr>
</table>
<%= @active_users_today%>
<h3>Growth Overall:</h3>	
<div class="chart"><% url = users_chart_url %><img src="<%= url[0] %>" /><img src="<%= url[1] %>" /></div>
<div class="clearer"><br /></div>
<h3>Growth Today:</h3>
<div class="chart"><% url = users_hours_chart_url %><img src="<%= url[0] %>" /><img src="<%= url[1] %>" /></div>


<div class="clearer"><br /></div>
</div>
<%= render :partial => "partials/aggregate.html.erb" %>
