<% @title_text="Admin - Users"%>
<h1>Users <span class="teal">Profile</span></h1>
<div class="blueback">

<div class="box"><%= link_to "Sleep", :action => :sleep %><%= link_to "All Users", :action => :all_users %><%= link_to "Read Feedback", :action => :feedback %><%= link_to "User Login Up", :controller => :users, :action => :user_login_up %></div>
<h3>Number of Users:</h3>
<%= @size %>
<h3>Users Active Today</h3>
<table>
	<tr>
		<td style="width:15%"><strong>Total</strong></td>
		<td style="width:15%" class="zebra">More than a week ago</td>
	<% (1..7).each do |i|  %>
		<td style="width:15%" <% if i%2 == 0 %>class="zebra"<% end %>><%= i %> days</td>
	<% end %>
	</tr>
	<tr>
		<td style="width:15%"><strong><%= @size %></strong></td>
		<td style="width:15%" class="zebra"><%= @last_login[0].to_s %></td>
	<% (1..7).each do |i|  %>
		<td style="width:15%" <% if i%2 == 0 %>class="zebra"<% end %>><%= @last_login[i].to_s %></td>
	<% end %>
	</tr>
</table>
<%= @active_users_today%>
<h3>Growth Overall:</h3>	
<div class="chart"><% url = users_chart_url %><img src="<%= url[0] %>" /><img src="<%= url[1] %>" /></div>
<div class="clearer"><br /></div>
<h3>Growth Today:</h3>
<div class="chart"><% url = users_hours_chart_url %><img src="<%= url[0] %>" /><img src="<%= url[1] %>" /></div>


<div class="clearer"><br /></div>
</div>
<%= render :partial => "partials/aggregate.html.erb" %>
