<% @title_text="Admin - Sleep"%>
<h1>Sleep <span class="teal">Tracking</span></h1>
<div class="blueback">
	<div class="box"><%= link_to "Users", :action => :index %><%= link_to "Browse Sleeps", :action => :all_sleep %></div>
	<h3>Number of Sleeps:</h3>
	<table>
		<tr>
			<td style="width:15%"><strong>Total</strong></td>
			<td style="width:15%" class="zebra">Unreported</td>
		<% (1..5).each do |i|  %>
			<td style="width:15%" <% if i%2 == 0 %>class="zebra"<% end %>><%= Sleep::QUALITY_BACKWARDS[i] %></td>
		<% end %>
		</tr>
		<tr>
			<td style="width:15%"><strong><%= @sleep_size %></strong></td>
			<td style="width:15%" class="zebra"><%= @sleep_quality[0].to_s %></td>
		<% (1..5).each do |i|  %>
			<td style="width:15%" <% if i%2 == 0 %>class="zebra"<% end %>><%= @sleep_quality[i].to_s %></td>
		<% end %>
		</tr>
	</table>
<h3>Sleeps Overall:</h3>
<div class="chart"><img  src="<%= sleeps_chart_url %>" /></div>
<div class="clearer"><br /></div>
<h3>Sleeps Today:</h3>
<div class="chart"><img  src="<%= sleeps_hours_chart_url %>" /></div>

<div class="clearer"><br /></div>
</div>