<div class="chart"><img  src="<%= sleep_chart_url(@chart["start"],@chart["stop"], @user.id, @chart["end_of_day"]) %>" alt="Your sleep's graph" /></div>
<div class="profile">
<% @sleepdebt = sleep_debt_for_date(Date.today, @user.id).to_f %>
<% if @sleepdebt > 0 %>
	<h3>Sleep Debt Today:</h3>
	<%= "%5.2f" % @sleepdebt %> hours.<br />
<% else %>
	<h3>Sleep Surplus Today:</h3>
	<%= "%5.2f" % -@sleepdebt %> hours.<br />
<% end %>
<h3>Target Sleep</h3>
<%= @user.target_hours %> per day.
<h3>Average Sleep</h3>
<%= "%5.2f " % average_sleep_for_range(@chart["start"], @chart["stop"], @user.id) %> hours per day for the last week.<br />
<% @sleepdebtr = average_sleep_debt_for_range(@chart["start"], @chart["stop"], @user.id).to_f %>
<% if @sleepdebtr > 0 %>
	<h3>Average Sleep Debt:</h3>
	<%= "%5.2f" % @sleepdebtr %> hours.<br />
<% else %>
	<h3>Average Sleep Surplus:</h3>
	<%= "%5.2f" % -@sleepdebtr %> hours.<br />
<% end %>
<div class="clearer"><br />
</div>
</div>