<% @title_text="World"%>
<%= render :partial => "partials/aggregate.html.erb" %>
<% @count = 0 %>
<h1>Public <span class="teal">Profiles</span></h1>

<div class="blueback">
<div class="will_paginate"><%= will_paginate @users %></div><br />
<table>
  <tr>
	<th><%= link_to "Username", :params => { :order => "username", :asc => params[:order] == "username" ? (params[:asc] == 'asc' ? "desc" : "asc") : "asc" } %></th>
    <th><%= link_to "Twitter", :params => { :order => "twitter", :asc => params[:order] == "twitter" ? params[:asc] == 'asc' ? "desc" : "asc" : "asc" } %></th>
    <th><%= link_to "Realname", :params => { :order => "realname", :asc => params[:order] == "realname" ? params[:asc] == 'asc' ? "desc" : "asc" : "asc" } %></th>
    <th><%= link_to "Location", :params => { :order => "zip", :asc => params[:order] == "zip" ? params[:asc] == 'asc' ? "desc" : "asc" : "asc" } %></th>
    <th><th>
  </tr>

<% for user in @users %>
	<% if user.public_profile %>
		<% @count+=1 %>
		<% if @count%2 == 0 %>
		  <tr>
		<% else %>
		  <tr class="zebra">
		<% end %>
	    <td><%= link_to h(user.username), :action => "user", :params => { :username => user.username }  %></td>
	    <td>
		<% if user.twitter.length > 0 %>
			<%= link_to "@" + user.twitter.to_s, "http://www.twitter.com/" + user.twitter.to_s %>
		<% end %>
		</td>
	    <td><%=h user.realname %></td>
	    <td><%=h user.zip %></td>
		<td><%= link_to "Add User to Friends", :controller => "friends", :action => "friend_request", :params => {:user_id => user.id, :redirect=> "index"} %></td>   
	<% else %>
		<% @count+=1 %>
		<% if @count%2 == 0 %>
		  <tr>
		<% else %>
		  <tr class="zebra">
		<% end %>
		<td><%=h user.username %></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td><%= link_to "Add User to Friends", :controller => "friends", :action => "friend_request", :params => {:user_id => user.id, :redirect=> "index"} %></td>
	<% end %>
  </tr>
<% end %>
</table>
<div class="will_paginate"><%= will_paginate @users %></div>
</div>