<h1>Sign<span class="teal">Up</span></h1>
<div style="text-align:center;float:right;width:400px;padding:40px 100px 0 0px">
<%= image_tag ("translogo2.png", :alt=>"logo" )%></div>
<div class="blueback" >
<% form_for :user, @user, :url => {:action => :signup_backend} do |f| %>
    <%= f.error_messages %>
	<%= f.label :username %>*<br />
	<%= f.text_field :username %><br />
	<%= f.label :password %>*<br />
	<%= f.password_field :password %><br />
	Confirm Password*<br />
	<%= f.password_field :password_confirm %><br />
	<%= f.label :email %>*<br />
	<%= f.text_field :email %><br />
	Real Name*<br />
	<%= f.text_field :realname %><br />
	<%= f.label :zip %><br />
	<%= f.text_field :zip %><br />
	Twitter Name<br />
	<%= f.text_field :twitter %><br />
	Target Hours of Sleep per Night<br />
	<%= f.text_field :target_hours, :value => "8" %><br />
	Make Profile Publicly Available?
	<%= f.check_box :public_profile, :checked => "checked" %><br />
	<%= f.submit "Sign up" %>
<% end %>
* = required
</div>
