<h1>Welcome to <span class="teal">Yawn Log!</span></h1>
<div class="blueback" style="text-align:center;">
<h2 style="font-size:8em;padding-top:20px;"><span class="teal">	<% @avg = AverageSleep.find(:first)
		if @avg.nil? || Time.now - @avg.updated_at > 900
			@sleep_last_night = average_sleep_on_date(Date.today) 
			@avg = AverageSleep.new(:value => @sleep_last_night)
			@avg.save
		else
			@sleep_last_night = @avg.value
		end
			%>
	<%= "%5.2f" % @sleep_last_night %> hours</span></h2><h2 style="font-size:4em;">average sleep last night</h2>

<% unless session[:user_id]%>
	<h2><%=link_to "Login", :controller => :users, :action => :login %></h2>
	<h2>Don't have one? Then <%=link_to "Sign up", :controller => :users, :action => :signup%>!</h2>
<% end %>
<div >	
<%= image_tag ("chart.png", :alt=>"logo" )%></div>
<h2>Yawnlog lets you and your friends track and share your sleep.</h2>
<h2><%=link_to "About Us", :action => :about %></h2>
</div>

<% unless @news.empty? %>
	<h1>What's <span class="teal">New</h1>
	<div class="blueback">
	<% for news in @news %>
		<h2><%= news.title %></h2>
		<span class="small"><%= news.created_at.strftime("Posted %a %b %d %y at %I:%M%p")%></span><br />
		<%= news.text%>
	<% end %>
	</div>
<%end %>