<% @count = 0 %>
<h1>Listing sleeps of <span class="teal"><%= @user.realname %></span></h1>
<div class="blueback">
<% if !@sleeps.empty? %>
    <table>
      <tr>
        <th>Start</th>
        <th>Stop</th>
        <th>Zip</th>
        <th>Quality</th>
        <th>Note</th>
      </tr>

    <% for sleep in @sleeps %>	
		<% @count+=1 %>
		<% if @count%2 == 0 %>
		  <tr>
		<% else %>
		  <tr class="zebra">
		<% end %>
        <td class="wide"><%=h sleep.start.strftime("%a, %m/%d/%y %I:%M%p") %></td>
        <td class="wide"><%=h sleep.stop.strftime("%a, %m/%d/%y %I:%M%p") %></td>
        <td><%=h sleep.zip %></td>
        <td><%=h Sleep::QUALITY_BACKWARDS[sleep.quality] %></td>
        <td><%=h sleep.note %>    
        <td><%= link_to 'View', sleep %></td>
        <td><%= link_to 'Edit', edit_sleep_path(sleep) %></td>
        <td><%= link_to 'Delete', sleep, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </table>
<% else %>
    <%= @user.realname %> is not tracking any sleep :-(<br />
<% end %>

<div class="box"><%= link_to 'Add More Sleep', new_sleep_path %></div>
</div>

<h1>Your Sleep <span class="teal">This Week</span></h1>

<div class="blueback">
	<%= render :partial => "partials/chart.html.erb" %>
</div>
<br />