<%# Using jQuery SelectToUISlider by Filament group: http://bit.ly/18SLhE #%>
<% @stylesheets << ["sleeps.css", "ui.slider.extras.css"] %>
<% @javascripts << ["jquery-ui-personalized-1.6rc6.js","selectToUISlider.jQuery.js"] %>
<% @title_text="Your Sleep"%>
 
<h1>New <span class="teal">sleep</span></h1>
<div class="blueback">
 
<% 
increment = 15
form_for @sleep, :sleep, :url => {:action => :create_sleep_backend} do |f| %>
<fieldset id="sleep-picker">
  <%= f.error_messages %>
  <span class="reg">
  Where
	<%= f.text_field :zip, :value => @user.zip, :size => "10" %>
	<%= f.label :quality %>
 	<% # used to have the real implementation, order problem was shitty though: = select(:sleep, :quality, Sleep::QUALITY, {:selected=>@sleep.quality}) %>
  	<select id="sleep_quality" name="sleep[quality]">
		<option value=" "> </option>
		<option value="1">Abysmal</option>
		<option value="2">Restless</option>
		<option value="3">Okay</option>
		<option value="4">Restful</option>
		<option value="5">Serene</option>
	</select>
	<%= f.label :note %>
	<%= f.text_field :note %>
  Date:   </span><input id="datepicker" type="text" name="sleep[date]" value="today" />
    <%= f.submit "Create" %>
    <label class="hidemeonload" for="start">From:</label>
    <select class="hidemeonload" name="start" id="start">
      <% now = Time.now - ((Time.now.min).to_f).minutes - ((Time.now.hour).to_f).hours - 8.hours %>
      <optgroup label="<%= now.strftime("%d %b")%>">
        <% while now < Time.now - ((Time.now.min).to_f).minutes - ((Time.now.hour).to_f).hours - 8.hours + 1.days
          if now.hour == 0 and now.min == 0 %>
            </optgroup>
            <optgroup label="<%= now.strftime("%d %b")%>"><%
          end %>
          <option value="<%= now.strftime("%I:%M%p")%>" <%
            if now.hour == 1 and now.min == 0
              %>selected="selected" <%
            end
          %>><%= now.strftime("%I:%M%p")%></option><%
          now += increment.minutes            
        end %>
      </optgroup>
    </select>
    <label class="hidemeonload" for="stop">To:</label>
    <select class="hidemeonload" name="stop" id="stop">
      <% now = Time.now - ((Time.now.min).to_f).minutes - ((Time.now.hour).to_f).hours - 8.hours %>
      <optgroup label="<%= now.strftime("%d %b")%>">
        <% while now < Time.now - ((Time.now.min).to_f).minutes - ((Time.now.hour).to_f).hours - 8.hours + 1.days
          if now.hour == 0 and now.min == 0 %>
            </optgroup>
            <optgroup label="<%= now.strftime("%d %b")%>"><%
          end %>
          <option value="<%= now.strftime("%I:%M%p")%>"<%
            if now.hour == 9 and now.min == 0
              %>selected="selected" <%
            end
          %>><%= now.strftime("%I:%M%p")%></option><%
          now += increment.minutes            
        end %>
      </optgroup>
    </select>
  </fieldset>
 
<% end %>
</div>

<h1>Share your <span class="teal">yawnlog</span></h1>
<div class="blueback">
It's easy to share your sleep, so long as your profile is set public (edit <%= link_to "settings", :controller => "users", :action => "edit"%>). You can link your friends to your profile at <a href="http://beta.yawnlog.com/<%= @user.username%>">beta.yawnlog.com/<%= @user.username%></a>
</div>
 
<% @count = 0 %>
<h1>Listing sleeps of <span class="teal"><%= @user.realname %></span></h1>
<div class="blueback">
<% if !@sleeps.empty? %>
    <table>
      <tr>
        <th>Start</th>
        <th>Stop</th>
		<th>Length</th>
        <th>Zip</th>
        <th>Quality</th>
        <th>Note</th>
      </tr>
  
    <% for sleep in @sleeps %>
    <% @classstring = "" %>
    <% @count+=1 %>
    <% if @count%2 == 1
      @classstring = "zebra "
     end
     if @count > 3
      @classstring += "hideme hidden"
     end %>
     <tr class="<%= @classstring %>">
        <td class="wide"><%=h sleep.start.strftime("%a, %m/%d/%y %I:%M%p") %></td>
        <td class="wide"><%=h sleep.stop.strftime("%a, %m/%d/%y %I:%M%p") %></td>
		<td><%= ((sleep.stop - sleep.start)/3600).to_s[0..3] %> hours</td>
        <td><%=h sleep.zip %></td>
        <td><%=h Sleep::QUALITY_BACKWARDS[sleep.quality] %></td>
        <td><%=h sleep.note %></td>
        <td><%= link_to 'Edit', edit_sleep_path(sleep) %></td>
        <td><%= link_to 'Delete', sleep, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </table>
<% else %>
    <%= @user.realname %> is not tracking any sleep :-(<br />
<% end %>
 
<div class="box"><a id="show_all" href="#" onclick="">Show All</a><a id="hide_all" href="#">Hide All</a><%= link_to "Export", :action => :export %></div>
</div>
 
<h1>Your Sleep <span class="teal">This Week</span></h1>
<div class="blueback"> 
  <%= render :partial => "partials/chart.html.erb", :locals => @chart = { "start" => @start, "stop" => @stop, "end_of_day" => @end_of_day} %>
	<% form_for :chart, :url => {:action => :index} do |f| %>
		<table><tr>
			<td><h3 style="margin:0;">Chart dates:</h3></td>
			<td>Start: <input id="datepicker_from" type="text" name="chart[start]" value="<%= params[:start] ? params[:start] : (Date.today - 7.days).strftime("%m/%d/%Y") %>" />
			End: <input id="datepicker_to" type="text" name="chart[stop]" value="<%= params[:stop] ? params[:stop] : "today" %>" />
			Day ends at <a id="info" href="#bottom" onclick="">(info)</a>
			</div>
			:			
			<select name="chart[end_of_day]" id="end_of_day">
				<option value="24" selected="selected">Midnight</option>
				<option value="1">01:00AM</option>
				<option value="2">02:00AM</option>
				<option value="3">03:00AM</option>
				<option value="4">04:00AM</option>
				<option value="5">05:00AM</option>
				<option value="6">06:00AM</option>
				<option value="7">07:00AM</option>
				<option value="8">08:00AM</option>
				<option value="9">09:00AM</option>
				<option value="10">10:00AM</option>
				<option value="11">11:00AM</option>
				<option value="12">Noon</option>
				<option value="13">01:00PM</option>
				<option value="14">02:00PM</option>
				<option value="15">03:00PM</option>
				<option value="16">04:00PM</option>
				<option value="17">05:00PM</option>
				<option value="18">06:00PM</option>
				<option value="19">07:00PM</option>
				<option value="20">08:00PM</option>
				<option value="21">09:00PM</option>
				<option value="22">10:00PM</option>
				<option value="23">11:00PM</option>
		    </select>
		    
			<%= f.submit "Update" %></td>
		</tr></table>
		<div id="infobox" class="hidden"><p>A quick word of caution for our new field "day ends at". Setting this to values of other than midnight can be useful if you go to bed before midnight and want a chart to display sleep you got in a given night. If for instance you never sleep at 4pm you might want to set this to 4 PM, however keep in mind this means days will "end" at 4 pm, thus the dates on the chart will be how much sleep you got the night before that date.</p><center><div class="box"><a id="hideinfo" href="#bottom" onclick="">Hide</a></div></center>
	<% end %>

</div>
<a id="bottom"></a>
<br />
<% unless @iphone %>
<script type="text/javascript">
$(document).ready(function() {
  $("a#show_all").click(function() {
    $("tr.hideme").removeClass("hidden")
  });
  $("a#hide_all").click(function() {
    $("tr.hideme").addClass("hidden")
  });
  $("a#info").click(function() {
    $("#infobox").removeClass("hidden")
  });
  $("a#hideinfo").click(function() {
    $("#infobox").addClass("hidden")
  });

  var daynames = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
  var monthnames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
  $("#datepicker").datepicker({ dateFormat: 'd M' });

  $("#datepicker_from").datepicker({ dateFormat: 'mm/dd/yy' });
  $("#datepicker_to").datepicker({ dateFormat: 'mm/dd/yy' });


  $('select#start, select#stop').selectToUISlider({
    labels: 12
  });

  $('.hidemeonload').addClass("hidden");

  
    var value = $('#datepicker').datepicker( "getDate" );
    var myDate=new Date(value);
    myDate.setDate(myDate.getDate()-1);

	// these should be <span> not &lt;span&gt; as they're meant to be tags and parsed as such
    $('.date_1').html("<span>" + daynames[value.getDay()] + " " + value.getDate() + " " + monthnames[value.getMonth()] + "</span>");
    $('.date_0').html("<span>" + daynames[myDate.getDay()] + " " + myDate.getDate() + " " + monthnames[myDate.getMonth()] + "</span>");
 

  $('#datepicker').change(function() {
    var value = $(this).datepicker( "getDate" );
    var myDate=new Date(value);
    myDate.setDate(myDate.getDate()-1);

    $('.date_1').html("<span>" + daynames[value.getDay()] + " " + value.getDate() + " " + monthnames[value.getMonth()] + "</span>");
    $('.date_0').html("<span>" + daynames[myDate.getDay()] + " " + myDate.getDate() + " " + monthnames[myDate.getMonth()] + "</span>");

 });
});
</script>
<% else %>
<script type="text/javascript">
$(document).ready(function() {
  $("a#show_all").click(function() {
    $("tr.hideme").removeClass("hidden")
  });
  $("a#hide_all").click(function() {
    $("tr.hideme").addClass("hidden")
  });
});
</script>
<% end %>